/* Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul, ol) */
li {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Класс для обнуления базовых свойств у кнопки */
button {
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
  /* or */
    font-style: inherit;
}

body {
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 18px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px !important;
    height: 1px !important;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.container,
.header-container {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 690px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        width: 1100px;
    }

    .header-container {
        width: 1320px;
        padding: 0 10px;
        margin: 0 auto;
    }
}

:root {
    --main-text-color: #2b2b2b;
    --secondary-text-color: #487996;
    --primary-text-color: #008cef;
    --button-bg: #f5f5fa;
    --dec-element-shadow: 20px 20px 80px 0px #0000001a;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Lato", sans-serif;
}

.home-hero-title {
    font-family: var(--primary-font);
}



/* ADAPTIVE MENU
.adaptive-menu {
    position: fixed;
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color:;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: none;
} */

.adaptive-menu {
    overflow: hidden;
    display: block;
    width: 100vh;
    height: 100vh;
    background-color: #ffffff;
    margin: 0 auto;
    background-image: url(../images/main_menu/decor_mobile.png);
}
.adaptive-menu__heder{
    width: 100vh;
    height: 115px;
}
@media screen and (min-width: 320px) {
    .adaptive-menu {
        width: 320px;
        height: 568px;
        padding-left: 20px;
        padding-right: 20px;
        
    } 
    .adaptive-menu__heder{
    width: 320px;
    height: 115px;
}   
}
@media screen and (min-width: 768px) {
    .adaptive-menu {
        width: 768px;
        height: 1024px;
        padding-left: 194px;
        padding-right: 194px;
        /* background-image: url(../images/main_menu/decor_tablet.png),url(../images/main_menu/Main_menu_tablet1.jpg),url(../images/main_menu/Main_menu_tablet2.jpg),
        url(../images/main_menu/Main_menu_tablet3.jpg),url(../images/main_menu/Main_menu_tablet4.jpg); */
    background-repeat: no-repeat;
    background-position: center,left 106px top 79px,right 32px top 79px,left 32px top 364px,right 32px top 303px;
    }    
    .adaptive-menu__heder{
    width: 768px;
    height: 115px;
}
}
@media screen and (min-width: 1440px) {
    .adaptive-menu {
        /* display: none; */
    }
    
}


.adaptive__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.26;
    margin: 0 auto;
    color: var(--secondary-text-color);
    /* &:hover,
    &:focus {
        fill: #ffffff;
        text-shadow: -1px 0 #487996, 0 1px #487996, 1px 0 #487996, 0 -1px #487996;
    } */
}
.adaptive__link:hover,.adaptive__link:focus {
    color: #ffffff;
    text-shadow: -1px 0 #487996, 0 1px #487996, 1px 0 #487996, 0 -1px #487996;
}

.adaptive-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.26;
    margin: 0 auto;
    color: var(--secondary-text-color);
    /* &:hover,
    &:focus {
        fill: var(--button-bg);
        transition: color var(--animation);
    } */
}
.adaptive-menu__link:hover,.adaptive-menu__link:focus {
    color: #ffffff;
    text-shadow: -1px 0 #487996, 0 1px #487996, 1px 0 #487996, 0 -1px #487996;
}

.adaptive-menu__link::before {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    align-items: center;
    margin-right: 12px;
    background-image: url("../images/main_menu/bullet.png");
}

.adaptive-menu__main,
.adaptive__main:not(:last-child) {
    margin-bottom: 24px;  
}
/* .adaptive-item:hover::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2196f3;
    margin: -5px auto 0;
} */
.adaptive-menu__list {
    display: block;
    margin: 0 auto;
    padding: 0;

}