:root {
  --main-text-color: #2b2b2b;
  --secondary-text-color: #487996;
  --primary-text-color: #008cef;
  --button-bg: #f5f5fa;
  --dec-element-shadow: 20px 20px 80px 0px #0000001a;
  --primary-font: 'Open Sans', sans-serif; //Caviar Dreams
  --secondary-font: 'Lato', sans-serif; //Cera Pro
}
