<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="close-btn" type="button" data-modal-close>
            <svg class="icon-close" width="11" height="11">
                <use href="./imiges/svg/sprite.svg#icon-closed"></use>
            </svg>
        </button>
        <ul>
            <li>
                <a>ГОЛОВНА</a>
            </li>
            <li>
                <p>ПОСЛУГИ</p>
                <ul>
                    <Li>
                        <a>3D Моделювання</a>
                    </Li>
                    <li>
                        <a>3D Сканування</a>
                    </li>
                    <li>
                        <a>3D Друк</a>
                    </li>
                </ul>
            </li>
            <li>ЗАМОВИТИ</li>
            <li>КОНТАКТИ</li>
        </ul>
    </div>
</div>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>